*.swp
target/
src/
tests/
.github/
**/*.rs.bk
.DS_Store
*.pdb
exercises/clippy/Cargo.toml
exercises/clippy/Cargo.lock
rust-project.json
.idea
.vscode
*.iml
*.o

.all-contributorsrc
.editorconfig
.gitpod.yml
.replit
Authors.md
Changelog.md
Contributing.md
*.lock
*.toml
install.*
LICENSE